<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Login" type="System.Configuration.SingleTagSectionHandler" />
  </configSections>
  <appSettings>
    <add key="StateServerAddress" value="127.0.0.1" />
    <add key="StateServerPort" value="8000" />
    <add key="TestResultDir" value="C:\" />
  </appSettings>
  <Login>
    <add key="MockFacebookAccountId"  value="1198759346"/>
    <add key="MockFacebookSessionKey"  value="2.dRRYL_zM7jijrgbcsgPgxw__.86400.1256407200-1198759346"/>
    <add key="MockFacebookNickName" value="Ed"/>
    <add key="MockFacebookFirstName" value="Edward"/>
    <add key="MockFacebookLastName" value="Kane"/>
    <add key="MockFacebookCampaignId" value="MockUnityTester"/>
    <add key="MockFacebookReferrerId" value="MockFbId"/>    
    <add key="MockDefaultAvatarId" value="1"/>
  </Login>
</configuration>