<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ServerStores" type="Hangout.Server.StoreNamesSection,ServerStateMachine"/>
    <section name="MoneyNotify" type="Hangout.Server.MoneyNotifySection,ServerStateMachine"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
  </configSections>
  <appSettings>
    <add key="Stage" value="DEV"/>
    <add key="IPAddress" value="64.106.173.25" />
    <add key="IsConnectionAllowed" value="1"/>
    <add key="Port" value="8000" />
    <add key="MaxConnection" value="400" />
    <add key="MinThreads" value="100" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
   
    <add key="WebServicesBaseUrl" value="http://services.hangoutdev.net/" />
    <add key="RemotingServicesUrl" value="tcp://services.hangoutdev.net:8080/RestService" />
    <add key="PaymentItemsServicesUrl" value="tcp://services.hangoutdev.net:8080/PaymentItems" />

    <add key ="PaymentItemsInitialCoin" value ="50000" />
    <add key ="PaymentItemsInitialCash" value ="50000" />
    <add key ="Key" value="123" />

    <add key ="StateServerMaxChatLength" value="512" />
    <add key ="ServicesTimeout" value="20000" />
  </appSettings>
  <MoneyNotify>
    <notify off="true" poll="15" throttle="10" />
  </MoneyNotify>
  <ServerStores>
    <refreshTime full="15" incremental="-1" debug="true" dir="../../logs/xml/" />
    <stores>
      <add name="Hangout_Store_Cash" />
      <add name="Hangout_Store_Coin" />
      <add name="Energy_Store_Cash" />
    </stores>
    <combined>
      <add name="Hangout_Store_Combined" mergeStore1="Hangout_Store_Cash"  mergeStore2="Hangout_Store_Coin"/>     
     </combined>
  </ServerStores>
  <log4net>
    <appender name="TextRollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="../../logs/txt/ReflectorServiceLog.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10GB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5level %date{yyyy-MM-dd HH:mm:ss.fff} [%thread] [%logger] %message%newline" />
      </layout>
    </appender>
    <appender name="XMLRollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="../../logs/xml/ReflectorServiceLog.xml" />
      <appendToFile value="true" />
      <datePattern value="yyyyMMdd" />  
      <rollingStyle value="Date" />
      <layout type="log4net.Layout.XmlLayoutSchemaLog4j">
        <locationInfo value="true" />
      </layout>
    </appender>
    <appender name="MoneyPaymentsAppender" type="Hangout.Server.MoneyPaymentsInfoAppender">
      <Key value="123" />
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5level %date{yyyy-MM-dd HH:mm:ss.fff} [%thread] [%logger] %message%newline" />
      </layout>
    </appender>
    <appender name="MetricsAppender" type="log4net.Appender.RollingFileAppender">
      <file value="../../logs/txt/MetricsLog.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10GB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%date{yyyy-MM-dd HH:mm:ss}%newline" />
      </layout>
    </appender>
    <appender name="ChatAppender" type="log4net.Appender.RollingFileAppender">
      <file value="../../logs/txt/ChatLog.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10GB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyy-MM-dd HH:mm:ss}%message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="TextRollingLogFileAppender" />
      <appender-ref ref="XMLRollingLogFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
    <logger name="MoneyPayments">
      <level value="INFO" />
      <appender-ref ref="MoneyPaymentsAppender" />
    </logger>
    <logger name="AvatarManagerServiceAPI">
      <level value="DEBUG" />
      <appender-ref ref="TextRollingLogFileAppender" />
    </logger>
    <logger name="RoomManagerServiceAPI">
      <level value="DEBUG" />
      <appender-ref ref="TextRollingLogFileAppender" />
    </logger>
    <logger name="Metrics" additivity="false">
      <level value="INFO" />
      <appender-ref ref="MetricsAppender" />
      <appender-ref ref="ConsoleAppender" />
    </logger>
    <logger name="Chat" additivity="false">
      <level value="INFO" />
      <appender-ref ref="ChatAppender" />
    </logger>
  </log4net>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
