<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
  </configSections>
  <appSettings>
    <add key="NumberOfRequests" value="100"/>
    <add key="WebServicesBaseUrl" value="http://localhost:12345/" />
    <add key="ServicesTimeout" value="20000" />
    <add key="SendRequestsAsync" value="true" />
    <add key="ProcessResultsWithDelegate" value="true"/>
  </appSettings>
  <log4net>
    <appender name="TextRollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="../../logs/TestingLog.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5level %date{yyyy-MM-dd HH:mm:ss.fff} [%thread] [%logger] %message%newline" />
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5level %date{yyyy-MM-dd HH:mm:ss.fff} [%thread] [%logger] %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="TextRollingLogFileAppender" />
    </root>
    <logger name="Test" additivity="false">
      <level value="DEBUG" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="TextRollingLogFileAppender" />
    </logger>
  </log4net>
</configuration>