<?xml version="1.0" encoding="utf-8" ?>

<substitutions>
	<configuration xmlns:xmu="urn:msbuildcommunitytasks-xmlmassupdate">
		<dev>
			<appSettings>
				<add xmu:key="key" key="SiteRoot" value="http://www.hangoutdev.net/" xmu:action="mergetext"/>
				<add xmu:key="key" key="ServicesSiteRoot" value="http://services.hangoutdev.net/" xmu:action="mergetext"/>
        <add xmu:key="key" key="Environment" value="dev" xmu:action="mergetext"/>
				<add xmu:key="key" key="fmsApplication" value="voice_chat" xmu:action="mergetext"/>
				<add xmu:key="key" key="AWSS3Root" value="dev.hangout.net" xmu:action="mergetext"/>
        <add xmu:key="key" key="StartingCoinAmount" value="5000000" xmu:action="mergetext"/>
        <add xmu:key="key" key="MockUserId" value="10942" xmu:action="mergetext"/>
        <add xmu:key="key" key="domain" value=".hangoutdev.net" xmu:action="mergetext" />
      </appSettings>
			<connectionStrings>
				<add xmu:key="name" name="sqlserver" connectionString="Data Source=sql01.hangoutops.net;Initial Catalog=dev.hangout;Persist Security Info=True;User ID=dev.hangout.agent;Password=yieldingness21authoratativeness;" xmu:action="mergetext"/>
        <add xmu:key="name" name="logserver" connectionString="Data Source=sql01.hangoutops.net;Initial Catalog=dev.logging;Persist Security Info=True;User ID=dev.logging.agent;Password=cannonades425/pollinates;" xmu:action="mergetext"/>
      </connectionStrings>
    </dev>
    <staging>
      <appSettings>
        <add xmu:key="key" key="SiteRoot" value="http://www.hangoutstaging.net/" xmu:action="mergetext"/>
        <add xmu:key="key" key="ServicesSiteRoot" value="http://services.hangoutstaging.net/" xmu:action="mergetext"/>
        <add xmu:key="key" key="BinaryDownloadRoot" value="http://dl.hangoutstaging.net/" xmu:action="mergetext"/>
        <add xmu:key="key" key="Environment" value="staging" xmu:action="mergetext"/>
				<add xmu:key="key" key="fmsApplication" value="voice_chat" xmu:action="mergetext"/>
				<add xmu:key="key" key="AWSS3Root" value="staging.hangout.net" xmu:action="mergetext"/>
        <add xmu:key="key" key="StartingCoinAmount" value="9000" xmu:action="mergetext"/>
        <add xmu:key="key" key="MockUserId" value="10942" xmu:action="mergetext"/>
        <add xmu:key="key" key="domain" value=".hangoutstaging.net" xmu:action="mergetext" />
      </appSettings>
      <connectionStrings>
        <add xmu:key="name" name="sqlserver" connectionString="Data Source=sql01.hangoutops.net;Initial Catalog=staging.hangout;Persist Security Info=True;User ID=staging.hangout.agent;Password=coltishness2257629963nightshift;" xmu:action="mergetext"/>
        <add xmu:key="name" name="logserver" connectionString="Data Source=sql01.hangoutops.net;Initial Catalog=staging.logging;Persist Security Info=True;User ID=staging.logging.agent;Password=branchless1998&amp;cartridge;" xmu:action="mergetext"/>
      </connectionStrings>
    </staging>
    <live>
      <appSettings>
        <add xmu:key="key" key="DebugMode" value="false" xmu:action="mergetext"/>
        <add xmu:key="key" key="SiteRoot" value="http://www.hangout.net/" xmu:action="mergetext"/>
        <add xmu:key="key" key="ServicesSiteRoot" value="http://services.hangout.net/" xmu:action="mergetext"/>
        <add xmu:key="key" key="BinaryDownloadRoot" value="http://dl.hangout.net/" xmu:action="mergetext"/>
        <add xmu:key="key" key="Environment" value="live" xmu:action="mergetext"/>
				<add xmu:key="key" key="fmsApplication" value="voice_chat" xmu:action="mergetext"/>
				<add xmu:key="key" key="AWSS3Root" value="www.hangout.net" xmu:action="mergetext"/>
				<add xmu:key="key" key="StartingCoinAmount" value="9000" xmu:action="mergetext"/>
        <add xmu:key="key" key="MockUserId" value="26469" xmu:action="mergetext"/>
				<add xmu:key="key" key="MyYearBookApiUrl" value="http://cpa.staging.myyearbook.com/track/" xmu:action="mergetext"/>
        <add xmu:key="key" key="domain" value=".hangout.net" xmu:action="mergetext" />
      </appSettings>
      <connectionStrings>
        <add xmu:key="name" name="sqlserver" connectionString="Data Source=sqlclust011.hangoutops.net;Initial Catalog=live.hangout;Persist Security Info=True;User ID=live.hangout.agent;Password=brickyard1[scorekeepers;" xmu:action="mergetext"/>
        <add xmu:key="name" name="logserver" connectionString="Data Source=sqlclust011.hangoutops.net;Initial Catalog=live.logging;Persist Security Info=True;User ID=live.logging.agent;Password=monologged4)telecommuter;" xmu:action="mergetext"/>
      </connectionStrings>
		</live>
    <alt>
      <appSettings>
        <add xmu:key="key" key="DebugMode" value="false" xmu:action="mergetext"/>
        <add xmu:key="key" key="SiteRoot" value="http://www.hangoutalt.net/" xmu:action="mergetext"/>
        <add xmu:key="key" key="ServicesSiteRoot" value="http://services.hangoutalt.net/" xmu:action="mergetext"/>
        <add xmu:key="key" key="BinaryDownloadRoot" value="http://dl.hangoutalt.net/" xmu:action="mergetext"/>
        <add xmu:key="key" key="Environment" value="alt" xmu:action="mergetext"/>
        <add xmu:key="key" key="fmsApplication" value="voice_chat" xmu:action="mergetext"/>
        <add xmu:key="key" key="AWSS3Root" value="www.hangoutalt.net" xmu:action="mergetext"/>
        <add xmu:key="key" key="StartingCoinAmount" value="9000" xmu:action="mergetext"/>
        <add xmu:key="key" key="MockUserId" value="26469" xmu:action="mergetext"/>
        <add xmu:key="key" key="domain" value=".hangoutalt.net" xmu:action="mergetext" />
      </appSettings>
      <connectionStrings>
        <add xmu:key="name" name="sqlserver" connectionString="Data Source=sqlclust011.hangoutops.net;Initial Catalog=alt.hangout;Persist Security Info=True;User ID=alt.hangout.agent;Password=hardworking69)Ashkenazim;" xmu:action="mergetext"/>
        <add xmu:key="name" name="logserver" connectionString="Data Source=sql01.hangoutops.net;Initial Catalog=alt.logging;Persist Security Info=True;User ID=alt.logging.agent;Password=toehold57161*estimative;" xmu:action="mergetext"/>
      </connectionStrings>
    </alt>
    <web>
      <appSettings>
        <add xmu:key="key" key="DebugMode" value="false" xmu:action="mergetext"/>
        <add xmu:key="key" key="SiteRoot" value="http://www.hangoutweb.net/" xmu:action="mergetext"/>
        <add xmu:key="key" key="ServicesSiteRoot" value="http://services.hangoutweb.net/" xmu:action="mergetext"/>
        <add xmu:key="key" key="BinaryDownloadRoot" value="http://dl.hangoutweb.net/" xmu:action="mergetext"/>
        <add xmu:key="key" key="Environment" value="web" xmu:action="mergetext"/>
        <add xmu:key="key" key="fmsApplication" value="voice_chat" xmu:action="mergetext"/>
        <!-- TODO: does this need to be set up? -->
        <add xmu:key="key" key="AWSS3Root" value="web.hangout.net" xmu:action="mergetext"/>
        <add xmu:key="key" key="StartingCoinAmount" value="9000" xmu:action="mergetext"/>
        <add xmu:key="key" key="MockUserId" value="10942" xmu:action="mergetext"/>
        <add xmu:key="key" key="domain" value=".hangoutweb.net" xmu:action="mergetext" />
      </appSettings>
      <connectionStrings>
        <add xmu:key="name" name="sqlserver" connectionString="Data Source=sql01.hangoutops.net;Initial Catalog=hangoutweb.hangout;Persist Security Info=True;User ID=hangoutweb.hangout.agent;Password=clamping1&amp;impressionists;" xmu:action="mergetext"/>
        <add xmu:key="name" name="logserver" connectionString="Data Source=sql01.hangoutops.net;Initial Catalog=hangoutweb.logging;Persist Security Info=True;User ID=hangoutweb.logging.agent;Password=laminae21096&amp;backlogging;" xmu:action="mergetext"/>
      </connectionStrings>
    </web>
    <unity>
      <appSettings>
        <add xmu:key="key" key="DebugMode" value="false" xmu:action="mergetext"/>
        <add xmu:key="key" key="SiteRoot" value="http://www.hangoutunity.net/" xmu:action="mergetext"/>
        <add xmu:key="key" key="ServicesSiteRoot" value="http://services.hangoutunity.net/" xmu:action="mergetext"/>
        <add xmu:key="key" key="BinaryDownloadRoot" value="http://dl.hangoutunity.net/" xmu:action="mergetext"/>
        <add xmu:key="key" key="Environment" value="unity" xmu:action="mergetext"/>
        <add xmu:key="key" key="fmsApplication" value="voice_chat" xmu:action="mergetext"/>
        <!-- TODO: does this need to be set up? -->
        <add xmu:key="key" key="AWSS3Root" value="unity.hangout.net" xmu:action="mergetext"/>
        <add xmu:key="key" key="StartingCoinAmount" value="9000" xmu:action="mergetext"/>
        <add xmu:key="key" key="MockUserId" value="10942" xmu:action="mergetext"/>
        <add xmu:key="key" key="domain" value=".hangoutunity.net" xmu:action="mergetext" />
      </appSettings>
      <connectionStrings>
        <add xmu:key="name" name="sqlserver" connectionString="Data Source=sql01.hangoutops.net;Initial Catalog=hangoutunity.hangout;Persist Security Info=True;User ID=hangoutunity.hangout.agent;Password=splashdown200260)rewarded;" xmu:action="mergetext"/>
        <add xmu:key="name" name="logserver" connectionString="Data Source=sql01.hangoutops.net;Initial Catalog=hangoutunity.logging;Persist Security Info=True;User ID=hangoutunity.logging.agent;Password=plastic73\determinations;" xmu:action="mergetext"/>
      </connectionStrings>
    </unity>
    <qa>
      <appSettings>
        <add xmu:key="key" key="DebugMode" value="false" xmu:action="mergetext"/>
        <add xmu:key="key" key="SiteRoot" value="http://www.hangoutqa.net/" xmu:action="mergetext"/>
        <add xmu:key="key" key="ServicesSiteRoot" value="http://services.hangoutqa.net/" xmu:action="mergetext"/>
        <add xmu:key="key" key="BinaryDownloadRoot" value="http://dl.hangoutqa.net/" xmu:action="mergetext"/>
        <add xmu:key="key" key="Environment" value="qa" xmu:action="mergetext"/>
        <add xmu:key="key" key="fmsApplication" value="voice_chat" xmu:action="mergetext"/>
        <!-- TODO: does this need to be set up? -->
        <add xmu:key="key" key="AWSS3Root" value="qa.hangout.net" xmu:action="mergetext"/>
        <add xmu:key="key" key="StartingCoinAmount" value="9000" xmu:action="mergetext"/>
        <add xmu:key="key" key="MockUserId" value="10942" xmu:action="mergetext"/>
        <add xmu:key="key" key="domain" value=".hangoutqa.net" xmu:action="mergetext" />
      </appSettings>
      <connectionStrings>
        <add xmu:key="name" name="sqlserver" connectionString="Data Source=sql01.hangoutops.net;Initial Catalog=hangoutqa.hangout;Persist Security Info=True;User ID=hangoutqa.hangout.agent;Password=bedside135715)basophilic;" xmu:action="mergetext"/>
        <add xmu:key="name" name="logserver" connectionString="Data Source=sql01.hangoutops.net;Initial Catalog=hangoutqa.logging;Persist Security Info=True;User ID=hangoutqa.logging.agent;Password=lethally83(imperfections;" xmu:action="mergetext"/>
      </connectionStrings>
    </qa>
  </configuration>
</substitutions>