<?xml version="1.0"?>
<!-- Hack: namespace removed for XmlMassUpdate MSBuild Task
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0"> -->
<configuration>
	<configSections>
		<section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"/>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>
	<exceptionHandling>
		<exceptionPolicies>
			<add name="Global Policy">
				<exceptionTypes>
					<add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="NotifyRethrow" name="Exception">
						<exceptionHandlers>
							<add logCategory="General" eventId="100" severity="Error" title="Enterprise Library Exception Handling" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" priority="0" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" name="Logging Handler"/>
						</exceptionHandlers>
					</add>
				</exceptionTypes>
			</add>
		</exceptionPolicies>
	</exceptionHandling>
	<appSettings>
		<add key="Stage" value="LIVE"/>
	<!-- AMAZON S3-->
		<add key="AmazonS3BucketName" value="HangoutLiveFileBucket"/>
		<add key="AmazonBaseAddress" value="http://s3.amazonaws.com/" />
		<add key="AmazonSecretAccessKey" value="0ga+ulNVuuAmRZ9wmSw13vslJcy2rz8zig9qeVNx"/>
		<add key="AmazonAccessKeyId" value="AKIAIYL6ZVRO3L4RM44Q"/>

         <!-- Binary Files -->
    	<add key="AssetBaseUrl" value="assets://" />

	<!-- FACEBOOK -->
		<!-- /FashionCity -->
		    <add key="APIKey" value="0cdace567e92a1933300f3df8bd594d9"  />
		    <add key="Secret" value="926a9f4e0fda42616cb46892cc8fb677"  />

	
    <add key="DebugMode" value="true"/>

    <add key="StateServerPopulationCap" value="500" />
    <add key="StateServerDesiredPopulationCap" value="300"/>
    <add key="RemotingListenPort" value="8080" />
    
    <add key="TransactionLogKey" value="123"/>
    <add key="BaseAddress" value="https://hangout.tfelements.com/starterkit/v1/" />
    <add key="AppFamilyId" value="12475196524081"/>
    <add key="PartnerId" value="$hangoutapi" />
    <add key="AccessKey" value="$hangoutapi" />
    <add key="NamespaceId" value="0" />
    <add key="AppName" value="HANGOUT_FAMILY_Application_1" />
    <add key="AppId" value="546" />
    <add key="PaymentGatewayConfigId" value="2" />
    <add key="CoinDebitAccountId" value="1445" />
    <add key="CashDebitAccountId" value="1064" />
    <add key="CoinCurrencyId" value="124456" />
    <add key="CashCurrencyId" value="1247519653409" />
	</appSettings>
	<connectionStrings>
		<add name="HangoutInventoryDatabase" connectionString="server=64.106.173.30; port=3306; database=HangoutInventoryDatabase; user=remote; password=R4WjWvPFERnYP4vu; Allow User Variables=True;"/>
    	<add name="HangoutAvatarsDatabase" connectionString="server=64.106.173.30; port=3306; database=HangoutAvatarsDatabase; user=remote; password=R4WjWvPFERnYP4vu;Allow User Variables=True;"/>
    	<add name="HangoutRoomsDatabase" connectionString="server=64.106.173.30; port=3306; database=HangoutRoomsDatabase; user=remote; password=R4WjWvPFERnYP4vu;Allow User Variables=True;"/>
    	<add name="HangoutAccountsDatabase" connectionString="server=64.106.173.30; port=3306; database=HangoutAccountsDatabase; user=remote; password=R4WjWvPFERnYP4vu;Allow User Variables=True;"/>
    	<add name="HangoutMiniGameDatabase" connectionString="server=64.106.173.30; port=3306; database=HangoutMiniGameDatabase; user=remote; password=R4WjWvPFERnYP4vu;Allow User Variables=True;"/>
	  	<add name="HangoutLoggingDatabase" connectionString="server=64.106.173.30; port=3306; database=HangoutLoggingDatabase; user=remote; password=R4WjWvPFERnYP4vu;Allow User Variables=True;"/>
    <add name="HangoutBossServer" connectionString="server=64.106.173.30; port=3306; database=HangoutBossServer; user=remote; password=R4WjWvPFERnYP4vu;Allow User Variables=True;"/>
	</connectionStrings>
	<system.web>
		<httpHandlers>
			<add verb="*" path="/*/*" type="Hangout.Server.WebServices.RESTHandlerFactory,Hangout.Server.WebServices.RESTService"/>
			<add verb="*" path="/*/*/*" type="Hangout.Server.WebServices.RESTHandlerFactory,Hangout.Server.WebServices.RESTService"/>
			<add verb="*" path="/WebBug" type="Hangout.Server.WebServices.ImageHandler,Hangout.Server.WebServices.RESTService"/>
			<add verb="*" path="*.unity3dres" type="System.Web.StaticFileHandler"/>
			<add verb="*" path="*.png" type="System.Web.StaticFileHandler"/>
			<add verb="*" path="*.xml" type="System.Web.StaticFileHandler"/>
			<remove verb="*" path="*.asmx"/>
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="GET,HEAD" path="ScriptResource.axd" validate="false" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </httpHandlers>
		<compilation debug="true">
   <assemblies>
    <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
   </assemblies>
  </compilation>
		<customErrors mode="Off"/>
		<httpRuntime maxRequestLength="8192"/>
		<pages>
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </controls>
    </pages>
		<httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </httpModules>
  </system.web>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network">
				<!--<network host="mail.hangout.net" port="25" userName="mailer@hangoutops.net" password="greyed39.delete" defaultCredentials="true"/>-->
			</smtp>
		</mailSettings>
	</system.net>
	<system.codedom>
			<compilers>
				<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
					<providerOption name="CompilerVersion" value="v3.5"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
	<system.webServer>
			<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<remove name="ScriptModule"/>
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </modules>
		<handlers>
			<remove name="WebServiceHandlerFactory-Integrated"/>
			<remove name="ScriptHandlerFactory"/>
			<remove name="ScriptHandlerFactoryAppServices"/>
			<remove name="ScriptResource"/>
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" preCondition="integratedMode" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </handlers>
  </system.webServer>
	<log4net>
		<appender name="TextRollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="logs\txt\ServiceLog.txt"/>
			<appendToFile value="true"/>
			<rollingStyle value="Composite"/>
			<datePattern value="yyyyMMdd"/>
			<maxSizeRollBackups value="10"/>
			<maximumFileSize value="1MB"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
			</layout>
		</appender>
		<appender name="XMLRollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file type="log4net.Util.PatternString" value="logs\xml\ServiceLog.xml"/>
			<appendToFile value="true"/>
			<datePattern value="yyyyMMdd"/>
			<rollingStyle value="Date"/>
			<layout type="log4net.Layout.XmlLayoutSchemaLog4j">
				<locationInfo value="true"/>
			</layout>
		</appender>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
			</layout>
		</appender>
		<root>
			<level value="ALL"/>
			<appender-ref ref="TextRollingLogFileAppender"/>
			<appender-ref ref="XMLRollingLogFileAppender"/>
			<appender-ref ref="ConsoleAppender"/>
		</root>
	</log4net>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
